html,
body {
	font-family: 'Noto Sans JP',
		sans-serif;
}

.font-Galada {
	font-family: 'Galada',
		cursive;
}

.log-reg {
	white-space: nowrap;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	color: #000;
}

.log-reg span {
	display: block;
	font-size: 14px;
	font-weight: 400;
}

.log-reg span a{
	color: black;
}
