html,
body {
	font-family: 'Noto Sans JP',
		sans-serif;
}

/* #preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 9999 !important;
} */

/* #status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../icon/loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
} */

.font-Galada {
	font-family: 'Galada',
		cursive;
}

.log-reg {
	white-space: nowrap;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	color: #000;
}

.log-reg span {
	display: block;
	font-size: 14px;
	font-weight: 400;
}

.log-reg span a {
	color: black;
}

nav {
	box-shadow: 0 5px 5px -5px #000;
}

nav ul li a:hover {
	color: #28a745 !important;
}

.tales {
	width: 100%;
}

.carousel-inner {
	width: 100%;
	max-height: 90vh !important;
}

.cart_item_show {
	position: absolute;
	background: #f36e36;
	color: #fff;
	top: -4px;
	font-weight: bold;
	right: -4px;
	text-align: center;
	border: 3px solid #f36e36;
	font-size: 13px;
	min-width: 19px;
	line-height: 14px;
	border-radius: 50%;
}

@media (max-width: 1200px) {
	header {
		text-align: center;
	}

	#top_search {
		margin: 0 auto;
	}

	#user_panel_top {
		margin: 0 auto;
		width: 388px;
		padding: 1rem;
	}
}

.card:hover {
	border: 1px solid #28a745;
}

@media (min-width: 576px) and (max-width: 992px) {
	.card {
		margin-bottom: 1.8rem !important;
	}
}

@media (max-width: 576px) {
	#top_search {
		display: none;
	}

	.card {
		margin-bottom: 1.8rem !important;
	}

	.container.p-5 {
		padding: 0;
	}
}
